.container {
    display: grid;
    grid-template-columns: 27rem 7rem 2.5rem;
    grid-template-rows: auto;
    column-gap: 5px;
    row-gap: 5px;

    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.question {
    margin-right: 1rem;
}

.answer {
    margin-right: 0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-right: 1rem;
}

.cipherVisible {
    background-color: rgb(29, 215, 29);
    color: white;
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 2rem;
    border: 0.125rem solid rgb(87, 87, 87);
}

.cipherInvisible {
    background-color: rgb(255, 0, 0);
    color: rgb(255, 0, 0);
    width: 2.5rem;
    line-height: 2.5rem;
    border-radius: 50%;
    text-align: center;
    font-size: 0rem;
    border: 0.125rem solid rgb(87, 87, 87);
}

/* Mobile */
@media (max-width: 700px) {
    .question {
        grid-area: question;
    }

    .answer {
        grid-area: answer;
    }

    .cipherVisible {
        grid-area: checkmark;
    }

    .container {
        grid-template-columns: 7.5rem 7.5rem 7.5rem 7.5rem;
        grid-template-rows: auto;
        grid-template-areas:
            "question question question question"
            "answer answer answer checkmark";
    }
}